vagabundosVENTA/xml-resources/web-service-references/ProductoWS/wsdl/209.145.53.75_8080/vagabundosWS/ProductoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WSProducto/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WSProducto/">

<xs:element name="agregar" type="tns:agregar"/>

<xs:element name="agregarResponse" type="tns:agregarResponse"/>

<xs:element name="buscarPorCodigo" type="tns:buscarPorCodigo"/>

<xs:element name="buscarPorCodigoResponse" type="tns:buscarPorCodigoResponse"/>

<xs:element name="buscarPorID" type="tns:buscarPorID"/>

<xs:element name="buscarPorIDResponse" type="tns:buscarPorIDResponse"/>

<xs:element name="buscarPorNombre" type="tns:buscarPorNombre"/>

<xs:element name="buscarPorNombreResponse" type="tns:buscarPorNombreResponse"/>

<xs:element name="buscarTodos" type="tns:buscarTodos"/>

<xs:element name="buscarTodosResponse" type="tns:buscarTodosResponse"/>

<xs:element name="editar" type="tns:editar"/>

<xs:element name="editarResponse" type="tns:editarResponse"/>

<xs:element name="eliminar" type="tns:eliminar"/>

<xs:element name="eliminarResponse" type="tns:eliminarResponse"/>

<xs:complexType name="agregar">
<xs:sequence>
<xs:element name="nombreProducto" type="xs:string" minOccurs="0"/>
<xs:element name="cantidad" type="xs:int"/>
<xs:element name="precio" type="xs:double"/>
<xs:element name="codigoProducto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarPorCodigo">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarPorCodigoResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="cantidadProducto" type="xs:int"/>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
<xs:element name="idProducto" type="xs:int"/>
<xs:element name="nombreProducto" type="xs:string" minOccurs="0"/>
<xs:element name="precioProducto" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarTodos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="buscarTodosResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarPorNombre">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarPorNombreResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editar">
<xs:sequence>
<xs:element name="nombreProducto" type="xs:string" minOccurs="0"/>
<xs:element name="cantidad" type="xs:int"/>
<xs:element name="precio" type="xs:double"/>
<xs:element name="codigoProducto" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminar">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarPorID">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarPorIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>