vagabundosVENTA/xml-resources/web-service-references/BalanceTiendaWS/wsdl/209.145.53.75_8080/vagabundosWS/BalanceTiendaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WSBalanceTienda/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WSBalanceTienda/" name="BalanceTiendaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WSBalanceTienda/" schemaLocation="http://209.145.53.75:8080/vagabundosWS/BalanceTiendaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="buscarFecha">
<part name="parameters" element="tns:buscarFecha"/>
</message>
<message name="buscarFechaResponse">
<part name="parameters" element="tns:buscarFechaResponse"/>
</message>
<message name="agregarBalanceTienda">
<part name="parameters" element="tns:agregarBalanceTienda"/>
</message>
<message name="agregarBalanceTiendaResponse">
<part name="parameters" element="tns:agregarBalanceTiendaResponse"/>
</message>
<message name="editar">
<part name="parameters" element="tns:editar"/>
</message>
<message name="editarResponse">
<part name="parameters" element="tns:editarResponse"/>
</message>
<portType name="BalanceTiendaWS">
<operation name="buscarFecha">
<input wsam:Action="http://WSBalanceTienda/BalanceTiendaWS/buscarFechaRequest" message="tns:buscarFecha"/>
<output wsam:Action="http://WSBalanceTienda/BalanceTiendaWS/buscarFechaResponse" message="tns:buscarFechaResponse"/>
</operation>
<operation name="agregarBalanceTienda">
<input wsam:Action="http://WSBalanceTienda/BalanceTiendaWS/agregarBalanceTiendaRequest" message="tns:agregarBalanceTienda"/>
<output wsam:Action="http://WSBalanceTienda/BalanceTiendaWS/agregarBalanceTiendaResponse" message="tns:agregarBalanceTiendaResponse"/>
</operation>
<operation name="editar">
<input wsam:Action="http://WSBalanceTienda/BalanceTiendaWS/editarRequest" message="tns:editar"/>
<output wsam:Action="http://WSBalanceTienda/BalanceTiendaWS/editarResponse" message="tns:editarResponse"/>
</operation>
</portType>
<binding name="BalanceTiendaWSPortBinding" type="tns:BalanceTiendaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="buscarFecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarBalanceTienda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BalanceTiendaWS">
<port name="BalanceTiendaWSPort" binding="tns:BalanceTiendaWSPortBinding">
<soap:address location="http://209.145.53.75:8080/vagabundosWS/BalanceTiendaWS"/>
</port>
</service>
</definitions>