vagabundosVENTA/xml-resources/web-service-references/BalanceTiendaWS/wsdl/localhost_8080/vagabundosWS/BalanceTiendaWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WSBalanceTienda/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WSBalanceTienda/">

<xs:element name="agregarBalanceTienda" type="tns:agregarBalanceTienda"/>

<xs:element name="agregarBalanceTiendaResponse" type="tns:agregarBalanceTiendaResponse"/>

<xs:element name="buscarFecha" type="tns:buscarFecha"/>

<xs:element name="buscarFechaResponse" type="tns:buscarFechaResponse"/>

<xs:element name="editar" type="tns:editar"/>

<xs:element name="editarResponse" type="tns:editarResponse"/>

<xs:complexType name="agregarBalanceTienda">
<xs:sequence>
<xs:element name="totalEfectivo" type="xs:double"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarBalanceTiendaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editar">
<xs:sequence>
<xs:element name="totalEfectivo" type="xs:double"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarFecha">
<xs:sequence>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarFechaResponse">
<xs:sequence>
<xs:element name="return" type="tns:balanceTienda" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="balanceTienda">
<xs:sequence>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="totalEfectivo" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>