vagabundosVENTA/src/META-INF/wsdl/209.145.53.75_8080/vagabundosWS/EmpleadoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WSEmpleado/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WSEmpleado/" name="EmpleadoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WSEmpleado/" schemaLocation="http://209.145.53.75:8080/vagabundosWS/EmpleadoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="buscarPorID">
<part name="parameters" element="tns:buscarPorID"/>
</message>
<message name="buscarPorIDResponse">
<part name="parameters" element="tns:buscarPorIDResponse"/>
</message>
<message name="buscarTodos">
<part name="parameters" element="tns:buscarTodos"/>
</message>
<message name="buscarTodosResponse">
<part name="parameters" element="tns:buscarTodosResponse"/>
</message>
<message name="editar">
<part name="parameters" element="tns:editar"/>
</message>
<message name="editarResponse">
<part name="parameters" element="tns:editarResponse"/>
</message>
<message name="eliminar">
<part name="parameters" element="tns:eliminar"/>
</message>
<message name="eliminarResponse">
<part name="parameters" element="tns:eliminarResponse"/>
</message>
<message name="agregarEmpleado">
<part name="parameters" element="tns:agregarEmpleado"/>
</message>
<message name="agregarEmpleadoResponse">
<part name="parameters" element="tns:agregarEmpleadoResponse"/>
</message>
<message name="autorizacion">
<part name="parameters" element="tns:autorizacion"/>
</message>
<message name="autorizacionResponse">
<part name="parameters" element="tns:autorizacionResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<portType name="EmpleadoWS">
<operation name="buscarPorID">
<input wsam:Action="http://WSEmpleado/EmpleadoWS/buscarPorIDRequest" message="tns:buscarPorID"/>
<output wsam:Action="http://WSEmpleado/EmpleadoWS/buscarPorIDResponse" message="tns:buscarPorIDResponse"/>
</operation>
<operation name="buscarTodos">
<input wsam:Action="http://WSEmpleado/EmpleadoWS/buscarTodosRequest" message="tns:buscarTodos"/>
<output wsam:Action="http://WSEmpleado/EmpleadoWS/buscarTodosResponse" message="tns:buscarTodosResponse"/>
</operation>
<operation name="editar">
<input wsam:Action="http://WSEmpleado/EmpleadoWS/editarRequest" message="tns:editar"/>
<output wsam:Action="http://WSEmpleado/EmpleadoWS/editarResponse" message="tns:editarResponse"/>
</operation>
<operation name="eliminar">
<input wsam:Action="http://WSEmpleado/EmpleadoWS/eliminarRequest" message="tns:eliminar"/>
<output wsam:Action="http://WSEmpleado/EmpleadoWS/eliminarResponse" message="tns:eliminarResponse"/>
</operation>
<operation name="agregarEmpleado">
<input wsam:Action="http://WSEmpleado/EmpleadoWS/agregarEmpleadoRequest" message="tns:agregarEmpleado"/>
<output wsam:Action="http://WSEmpleado/EmpleadoWS/agregarEmpleadoResponse" message="tns:agregarEmpleadoResponse"/>
</operation>
<operation name="autorizacion">
<input wsam:Action="http://WSEmpleado/EmpleadoWS/autorizacionRequest" message="tns:autorizacion"/>
<output wsam:Action="http://WSEmpleado/EmpleadoWS/autorizacionResponse" message="tns:autorizacionResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://WSEmpleado/EmpleadoWS/loginRequest" message="tns:login"/>
<output wsam:Action="http://WSEmpleado/EmpleadoWS/loginResponse" message="tns:loginResponse"/>
</operation>
</portType>
<binding name="EmpleadoWSPortBinding" type="tns:EmpleadoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="buscarPorID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarTodos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="autorizacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EmpleadoWS">
<port name="EmpleadoWSPort" binding="tns:EmpleadoWSPortBinding">
<soap:address location="http://209.145.53.75:8080/vagabundosWS/EmpleadoWS"/>
</port>
</service>
</definitions>