vagabundosVENTA/src/META-INF/wsdl/209.145.53.75_8080/vagabundosWS/ProductoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WSProducto/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WSProducto/" name="ProductoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WSProducto/" schemaLocation="http://209.145.53.75:8080/vagabundosWS/ProductoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="buscarPorID">
<part name="parameters" element="tns:buscarPorID"/>
</message>
<message name="buscarPorIDResponse">
<part name="parameters" element="tns:buscarPorIDResponse"/>
</message>
<message name="buscarTodos">
<part name="parameters" element="tns:buscarTodos"/>
</message>
<message name="buscarTodosResponse">
<part name="parameters" element="tns:buscarTodosResponse"/>
</message>
<message name="agregar">
<part name="parameters" element="tns:agregar"/>
</message>
<message name="agregarResponse">
<part name="parameters" element="tns:agregarResponse"/>
</message>
<message name="editar">
<part name="parameters" element="tns:editar"/>
</message>
<message name="editarResponse">
<part name="parameters" element="tns:editarResponse"/>
</message>
<message name="eliminar">
<part name="parameters" element="tns:eliminar"/>
</message>
<message name="eliminarResponse">
<part name="parameters" element="tns:eliminarResponse"/>
</message>
<message name="buscarPorNombre">
<part name="parameters" element="tns:buscarPorNombre"/>
</message>
<message name="buscarPorNombreResponse">
<part name="parameters" element="tns:buscarPorNombreResponse"/>
</message>
<message name="buscarPorCodigo">
<part name="parameters" element="tns:buscarPorCodigo"/>
</message>
<message name="buscarPorCodigoResponse">
<part name="parameters" element="tns:buscarPorCodigoResponse"/>
</message>
<portType name="ProductoWS">
<operation name="buscarPorID">
<input wsam:Action="http://WSProducto/ProductoWS/buscarPorIDRequest" message="tns:buscarPorID"/>
<output wsam:Action="http://WSProducto/ProductoWS/buscarPorIDResponse" message="tns:buscarPorIDResponse"/>
</operation>
<operation name="buscarTodos">
<input wsam:Action="http://WSProducto/ProductoWS/buscarTodosRequest" message="tns:buscarTodos"/>
<output wsam:Action="http://WSProducto/ProductoWS/buscarTodosResponse" message="tns:buscarTodosResponse"/>
</operation>
<operation name="agregar">
<input wsam:Action="http://WSProducto/ProductoWS/agregarRequest" message="tns:agregar"/>
<output wsam:Action="http://WSProducto/ProductoWS/agregarResponse" message="tns:agregarResponse"/>
</operation>
<operation name="editar">
<input wsam:Action="http://WSProducto/ProductoWS/editarRequest" message="tns:editar"/>
<output wsam:Action="http://WSProducto/ProductoWS/editarResponse" message="tns:editarResponse"/>
</operation>
<operation name="eliminar">
<input wsam:Action="http://WSProducto/ProductoWS/eliminarRequest" message="tns:eliminar"/>
<output wsam:Action="http://WSProducto/ProductoWS/eliminarResponse" message="tns:eliminarResponse"/>
</operation>
<operation name="buscarPorNombre">
<input wsam:Action="http://WSProducto/ProductoWS/buscarPorNombreRequest" message="tns:buscarPorNombre"/>
<output wsam:Action="http://WSProducto/ProductoWS/buscarPorNombreResponse" message="tns:buscarPorNombreResponse"/>
</operation>
<operation name="buscarPorCodigo">
<input wsam:Action="http://WSProducto/ProductoWS/buscarPorCodigoRequest" message="tns:buscarPorCodigo"/>
<output wsam:Action="http://WSProducto/ProductoWS/buscarPorCodigoResponse" message="tns:buscarPorCodigoResponse"/>
</operation>
</portType>
<binding name="ProductoWSPortBinding" type="tns:ProductoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="buscarPorID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarTodos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarPorNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarPorCodigo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductoWS">
<port name="ProductoWSPort" binding="tns:ProductoWSPortBinding">
<soap:address location="http://209.145.53.75:8080/vagabundosWS/ProductoWS"/>
</port>
</service>
</definitions>