vagabundosVENTA/src/META-INF/wsdl/209.145.53.75_8080/vagabundosWS/TicketWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WSTicket/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WSTicket/">

<xs:element name="agregarTicket" type="tns:agregarTicket"/>

<xs:element name="agregarTicketResponse" type="tns:agregarTicketResponse"/>

<xs:element name="buscarPorID" type="tns:buscarPorID"/>

<xs:element name="buscarPorIDResponse" type="tns:buscarPorIDResponse"/>

<xs:element name="buscarTodos" type="tns:buscarTodos"/>

<xs:element name="buscarTodosResponse" type="tns:buscarTodosResponse"/>

<xs:complexType name="buscarPorID">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarPorIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:ticket" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ticket">
<xs:sequence>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="idEmpleado" type="xs:int"/>
<xs:element name="idTicket" type="xs:int"/>
<xs:element name="total" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarTicket">
<xs:sequence>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="idEmpleado" type="xs:int"/>
<xs:element name="total" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarTicketResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarTodos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="buscarTodosResponse">
<xs:sequence>
<xs:element name="return" type="tns:ticket" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>