vagabundosVENTA/src/META-INF/wsdl/209.145.53.75_8080/vagabundosWS/TicketWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WSTicket/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WSTicket/" name="TicketWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WSTicket/" schemaLocation="http://209.145.53.75:8080/vagabundosWS/TicketWS?xsd=1"/>
</xsd:schema>
</types>
<message name="buscarPorID">
<part name="parameters" element="tns:buscarPorID"/>
</message>
<message name="buscarPorIDResponse">
<part name="parameters" element="tns:buscarPorIDResponse"/>
</message>
<message name="buscarTodos">
<part name="parameters" element="tns:buscarTodos"/>
</message>
<message name="buscarTodosResponse">
<part name="parameters" element="tns:buscarTodosResponse"/>
</message>
<message name="agregarTicket">
<part name="parameters" element="tns:agregarTicket"/>
</message>
<message name="agregarTicketResponse">
<part name="parameters" element="tns:agregarTicketResponse"/>
</message>
<portType name="TicketWS">
<operation name="buscarPorID">
<input wsam:Action="http://WSTicket/TicketWS/buscarPorIDRequest" message="tns:buscarPorID"/>
<output wsam:Action="http://WSTicket/TicketWS/buscarPorIDResponse" message="tns:buscarPorIDResponse"/>
</operation>
<operation name="buscarTodos">
<input wsam:Action="http://WSTicket/TicketWS/buscarTodosRequest" message="tns:buscarTodos"/>
<output wsam:Action="http://WSTicket/TicketWS/buscarTodosResponse" message="tns:buscarTodosResponse"/>
</operation>
<operation name="agregarTicket">
<input wsam:Action="http://WSTicket/TicketWS/agregarTicketRequest" message="tns:agregarTicket"/>
<output wsam:Action="http://WSTicket/TicketWS/agregarTicketResponse" message="tns:agregarTicketResponse"/>
</operation>
</portType>
<binding name="TicketWSPortBinding" type="tns:TicketWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="buscarPorID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarTodos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarTicket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TicketWS">
<port name="TicketWSPort" binding="tns:TicketWSPortBinding">
<soap:address location="http://209.145.53.75:8080/vagabundosWS/TicketWS"/>
</port>
</service>
</definitions>