vagabundosVENTA/src/META-INF/wsdl/209.145.53.75_8080/vagabundosWS/WSBalanceEmpleado.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WSBalanceEmpleado/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WSBalanceEmpleado/" name="WSBalanceEmpleado">
<types>
<xsd:schema>
<xsd:import namespace="http://WSBalanceEmpleado/" schemaLocation="http://209.145.53.75:8080/vagabundosWS/WSBalanceEmpleado?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="agregarBalance">
<part name="parameters" element="tns:agregarBalance"/>
</message>
<message name="agregarBalanceResponse">
<part name="parameters" element="tns:agregarBalanceResponse"/>
</message>
<message name="buscarIDFecha">
<part name="parameters" element="tns:buscarIDFecha"/>
</message>
<message name="buscarIDFechaResponse">
<part name="parameters" element="tns:buscarIDFechaResponse"/>
</message>
<message name="editar">
<part name="parameters" element="tns:editar"/>
</message>
<message name="editarResponse">
<part name="parameters" element="tns:editarResponse"/>
</message>
<portType name="WSBalanceEmpleado">
<operation name="hello">
<input wsam:Action="http://WSBalanceEmpleado/WSBalanceEmpleado/helloRequest" message="tns:hello"/>
<output wsam:Action="http://WSBalanceEmpleado/WSBalanceEmpleado/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="agregarBalance">
<input wsam:Action="http://WSBalanceEmpleado/WSBalanceEmpleado/agregarBalanceRequest" message="tns:agregarBalance"/>
<output wsam:Action="http://WSBalanceEmpleado/WSBalanceEmpleado/agregarBalanceResponse" message="tns:agregarBalanceResponse"/>
</operation>
<operation name="buscarIDFecha">
<input wsam:Action="http://WSBalanceEmpleado/WSBalanceEmpleado/buscarIDFechaRequest" message="tns:buscarIDFecha"/>
<output wsam:Action="http://WSBalanceEmpleado/WSBalanceEmpleado/buscarIDFechaResponse" message="tns:buscarIDFechaResponse"/>
</operation>
<operation name="editar">
<input wsam:Action="http://WSBalanceEmpleado/WSBalanceEmpleado/editarRequest" message="tns:editar"/>
<output wsam:Action="http://WSBalanceEmpleado/WSBalanceEmpleado/editarResponse" message="tns:editarResponse"/>
</operation>
</portType>
<binding name="WSBalanceEmpleadoPortBinding" type="tns:WSBalanceEmpleado">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarIDFecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSBalanceEmpleado">
<port name="WSBalanceEmpleadoPort" binding="tns:WSBalanceEmpleadoPortBinding">
<soap:address location="http://209.145.53.75:8080/vagabundosWS/WSBalanceEmpleado"/>
</port>
</service>
</definitions>