vagabundosVENTA/src/META-INF/wsdl/localhost_8080/vagabundosWS/ProductoVendidoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WSProductoVendido/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WSProductoVendido/">

<xs:element name="AgregarProductoVendido" type="tns:AgregarProductoVendido"/>

<xs:element name="AgregarProductoVendidoResponse" type="tns:AgregarProductoVendidoResponse"/>

<xs:element name="buscarPorID" type="tns:buscarPorID"/>

<xs:element name="buscarPorIDResponse" type="tns:buscarPorIDResponse"/>

<xs:element name="buscarTodos" type="tns:buscarTodos"/>

<xs:element name="buscarTodosResponse" type="tns:buscarTodosResponse"/>

<xs:complexType name="buscarTodos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="buscarTodosResponse">
<xs:sequence>
<xs:element name="return" type="tns:productoVendido" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productoVendido">
<xs:sequence>
<xs:element name="idProducto" type="xs:int"/>
<xs:element name="idProductoVendido" type="xs:int"/>
<xs:element name="idTicket" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarPorID">
<xs:sequence>
<xs:element name="idProducto" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarPorIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:productoVendido" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarProductoVendido">
<xs:sequence>
<xs:element name="idProducto" type="xs:int"/>
<xs:element name="idTicket" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarProductoVendidoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>